<% wrap_layout :layout do %>
  <!-- Page header -->
  <div class="section hero-section">
    <div class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-6">
            <h1 class="text-center title title-underline title-underline-center title-underline-md">
              <%= current_page.data.title %>
            </h1>
            <h5 class="text-center">
              <%= current_page.data.titleDescription %>                
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
          <ul class="nav side-bar flex-column">
            <li class="nav-item mb-2">              
              <a class="nav-link rounded-2 <% if current_page.data.subActive == "about" %> active <% end %>" aria-current="page" 
                 href="<%=lang_helper%>about-us">
                <i class="bi bi-arrow-right-circle-fill"></i>
                <%= t(:about) %>
              </a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link rounded-2 <% if current_page.data.subActive == "therapist" %> active <% end %>" 
                  href="<%=lang_helper%>therapist">
                <i class="bi bi-arrow-right-circle-fill"></i>
                <%= t(:meet_the_therapist) %>                
              </a>
            </li>
            <li class="nav-item mb-2">              
              <a class="nav-link rounded-2 <% if current_page.data.subActive == "values" %> active <% end %>" aria-current="page" 
                 href="<%=lang_helper%>values">
                <i class="bi bi-arrow-right-circle-fill"></i>
                <%= t(:our_values) %>                                                
              </a>
            </li>
            <li class="nav-item mb-2">
              <a class="nav-link rounded-2 <% if current_page.data.subActive == "faq" %> active <% end %>" 
                 href="<%=lang_helper%>faq">
                <i class="bi bi-arrow-right-circle-fill"></i>
                F.A.Q
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-8 col-md-9">
          <%= yield %>
        </div>
      </div>
    </div>    
  </div>

    <% end %>