---
layout: about-layout
active: about
subActive: faq
title: F.A.Q
titleDescription: Feel free to contact us if you have any questions. We recognize that starting therapy, particularly for the first time, can be an intimidating experience. Here are some commonly asked questions to assist you in navigating the booking process.
description: Frequently asked questions
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-3 mb-0">
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>">
              Home
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="<%=lang_helper%>about-us">
              About
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            F.A.Q
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!-- F.A.Q -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section-lg">
        
        <div class="accordion accordion-flush mb-5" id="faq-accordion">
          <% data.faq.f.each do |faq| %>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#<%=faq.link%>" aria-expanded="false" aria-controls="<%=faq.link%>">
                  <%=faq.title%>
                </button>
              </h2>
              <div id="<%=faq.link%>" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
                <div class="accordion-body">
                  <%=faq.description%>
                </div>
              </div>
            </div>
            <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>