---
layout: layout
active: home
title: Home
description: Leloh Therapy, We Normalize Therapy, At our practice, we embrace the diversity in people and traumatic experiences, providing a comforting haven where various therapies are normalized and support an individual's mind renewal
---

<div class="section hero-section">
  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-6">

          <div class="section-sm">
            <h1 class="text-center title title-underline title-underline-center title-underline-md">
              We Normalize Therapy
            </h1>
            <h5 class="text-center">
              At our practice, we embrace the diversity in people and traumatic experiences,
              providing a comforting haven where various therapies are normalized and support an
              individual's mind renewal
            </h5>
            <h5 class="text-center">
              Explore Healing Complimentary 20-Minute Therapy Sessions Available
            </h5>
          </div>          

          <button class="btn btn-book shadow-sm d-flex mx-auto"
            data-bs-toggle="offcanvas" data-bs-target="#book-now-oc" aria-controls="book-now-oc">
            <%= t(:book_a_session) %>
          </button>
        </div>      
      </div>
    </div>
  </div>
  <div class="container">    
    <div class="row justify-content-center mb-2">        
      <% data.services.s.first(4).each do |service| %>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-3">
        <div class="hero-card shadow-sm h-100">
          <div class="hero-card-image-holder mb-4 d-flex align-items-center justify-content-center">
            <img src="<%=service.illustration%>" class="img-fluid hero-card-image" data-entrance="from-bottom">
          </div>          
          
          <div class="hero-card-title text-center position-absolute bottom-0">
            <%=service.title%>
          </div>          
          
        </div>
      </div>
      <% end %>
    </div>
    <div class="row text-end">
      <div class="col-12">
        <a href="/services" class="btn btn-lg btn-book">
          
          <i class="bi bi-plus-circle-fill"></i>
          View all services
        </a>
      </div>
    </div>
  </div>

  <div class="wave-left"></div>
  <div class="wave-right"></div>
  <!-- <div class="wave section-border"></div> -->
</div>

<!-- We make therapy work for -->
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-6">
        <h1 class="title text-center title-underline title-underline-center title-underline-md">
          We make therapy work
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="naked-card">
          <div class="naked-card-image-holder">
            <img src="/images/credit_card.svg" class="naked-card-image img-fluid" data-entrance="from-bottom" />
          </div>
          <div class="naked-card-content text-center">
            Leloh Therapy is committed to providing flexibility in accessing our services. 
            We accept insurance plans from employers, making it more convenient for you to 
            prioritize your mental health within your existing coverage.
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="naked-card">
          <div class="naked-card-image-holder">
            <img src="/images/credit_card_payments.svg" class="naked-card-image img-fluid" data-entrance="from-bottom"/>
          </div>
          <div class="naked-card-content text-center">
            We believe in making mental health services accessible, our session fees are $160 per session, 
            and this includes the applicable HST.               
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="naked-card">
          <div class="naked-card-image-holder">
            <img src="/images/online_payments.svg" class="naked-card-image img-fluid" data-entrance="from-bottom"/>
          </div>
          <div class="naked-card-content text-center">              
            We offer sliding scale options. This means that we strive to accommodate various financial 
            circumstances, ensuring that quality mental health support is available to everyone.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="#book-a-session" class="btn btn-lg btn-book"
        data-bs-toggle="offcanvas" data-bs-target="#book-now-oc" aria-controls="book-now-oc">
          Book a session
        </a>
      </div>
    </div>
  </div> 
</div>


<!-- Empowerement -->
<div class="section-lg section-border-top section-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="container">
          <div class="row">
            <div class="col-6 mt-5 mb-5">
              <img src="/images/couple-sits-together.jpg" class="img-fluid shadow rounded mb-3" alt="Couple sits together" 
                   data-entrance="from-top"/>

              <img src="/images/dark-braids-in-hair-and-red-lips-fashion.jpg" class="img-fluid shadow rounded" alt="Couple sits together" 
                   data-entrance="from-bottom"/>
            </div>
            <div class="col-6">
              <img src="/images/team-hands-linked-together.jpg" class="img-fluid shadow rounded mb-3" alt="Couple sits together" 
                   data-entrance="from-top"/>

              <img src="/images/family-in-matching-pyjamas.jpg" class="img-fluid shadow rounded" alt="Couple sits together" 
                   data-entrance="from-bottom"/>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>        
      </div>
      <div class="col-12 col-md-4">
        <h1 class="title title-underline title-underline-left title-underline-md">
          <small>
            Mental Health
          </small>
          Your Well-Being Matters
        </h1>
        <p>
          At Leloh Therapy, we understand that taking the first step can be a significant decision. 
          We commend you for prioritizing your mental health, and we are here to support you on your 
          journey to self-discovery, healing, and empowerment.                    
        </p>
        <p>
          Feel free to reach out with any questions or to book your consultation. 
          Your well-being matters, and we look forward to accompanying you on this transformative journey.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- FAQ -->
<div class="section-lg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title title-underline title-underline-sm title-underline-center text-center">
          <small>
            Frequently asked questions
          </small>
          F.A.Q
        </h1>

        <div class="accordion accordion-flush mb-5" id="faq-accordion">
        <% data.faq.f.first(10).each do |faq| %>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%=faq.link%>" aria-expanded="false" aria-controls="<%=faq.link%>">
                <%=faq.title%>
              </button>
            </h2>
            <div id="<%=faq.link%>" class="accordion-collapse collapse" data-bs-parent="#faq-accordion">
              <div class="accordion-body">
                <%=faq.description%>
              </div>
            </div>
          </div>
        <% end %>
        </div>        
      </div>
      <div class="col-12 text-center">
        <a href="<%=lang_helper%>faq" class="btn btn-lg btn-book text-center">
          <i class="bi bi-plus-circle-fill"></i>
          More frequently asked questions
        </a>
      </div>
    </div>
  </div>
</div>